* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}
html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: rgb(92, 95, 95);
  font-size: 14px;
  /* height: 10000px; */
}

.hidden {
  display: none !important;
}

/*header*/

.city p,
.searchWrap {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

header {
}
.index-header {
  background-color: #dc3237;
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
.header {
  display: -webkit-box;
}
.title {
  -webkit-box-flex: 1;
}

.index-header .btn,
.detail-header .btn {
  display: block;
  background-size: 30px;
  padding: 20px;
}
.header .btn {
  background-repeat: no-repeat;
  background-position: center;
}
.city {
  display: -webkit-box;
  border: 1px solid #d6d6d6;
  height: 30px;
  background-color: #ffffff;
  border-right: none;
}

.header div input {
  width: 90%;
  border-left: 1px solid #d6d6d6;
  height: 20px;
  margin-left: 5px;
  padding-left: 5px;
  line-height: 20px;
  border-radius: 0;
}

.searchWrap {
  height: 30px;
  border: 1px solid #d6d6d6;
  -webkit-box-flex: 1;
  -webkit-box-pack: start;
  border-left: none;
}

.header .menu {
  background-image: url("../image/top_navigation_menuicon@2x.png");
}
.header .user {
  background-image: url("../image/top_navigation_infoicon@2x.png");
}
.header .logo {
  background-size: 45px;
  background-image: url("../image/navbar_netease@2x.png");
}
.hidden-v {
  visibility: hidden;
}

.switchNav {
  color: red;
}
.news h3 {
  font-size: calc(30rem / 64);
  display: block;
  color: #404040;
}
.zhiding {
  font-size: calc(20rem / 64);
  color: red;
}
.gentie {
  color: rgb(92, 95, 95);
}
.news {
  display: block;
  margin-bottom: calc(10rem / 64);
}
.news img {
  float: right;
  width: calc(200rem / 64);
  height: calc(110rem / 64);
}
.news-2 {
  font-size: calc(30rem / 64);
  display: block;
  color: #404040;
}
.news-2 span {
  display: inline-block;
  font-size: calc(20rem / 64);
}
.news-2 img {
  float: left;
  width: calc(200rem / 64);
  margin: 0 calc(5rem / 64);
  height: calc(125rem / 64);
}
.news-3 img {
  width: 100%;
  height: calc(350rem / 64);
}
.news-3 {
  font-size: calc(30rem / 64);
  display: block;
  color: #404040;
}
.news-3 span {
  display: inline-block;
  font-size: calc(20rem / 64);
  border: calc(1rem / 64) solid #5c5f5f;
  border-radius: calc(5rem / 64);
}
